.remove-borda-btn{
    border: none;
    font-weight: normal !important;
}

.p-titulo-barra-cinza{
    color:#868686;
    padding-top: 10px;
}

.p-preto-cat{
    margin-top: 10px;
    color: #454243;
    font-size: 12px;
    text-align: center;
    line-height: 12px;
    word-break: break-word;
}

.config-padding-top{
    padding-top:10px !important;
}

.bg-img{
    width: 57px;
    height: 57px;
    margin: auto;
    margin-top: 10px;
}

.box-cat{
    height: auto;
    background-color: #FFFFFF;
    margin: 8px;
    border: 2px solid transparent;
    max-width: 100px;
    box-shadow: rgb(189, 189, 189) 0px 1px 8px;
}

.box-esqueleto{
    margin: 8px;
    border: 2px solid transparent;
    max-width: 100px;
}

.box-cat.selecionado{
    border: 2px solid #ffb800;
    box-shadow: none;
}

.selecionado .p-preto-cat{
    color:#ffb800 !important;
}

.background-cinza-claro{
    background-color: #f8f9f9;
}

.padding-barra{
    padding-top:75px !important;
}

.config-footer-cat{
    padding-top: 12px;
    box-shadow: 0px 0px 8px grey;
}

.tamanho-btn-footer{
    width: 110px;
    text-align: center;
}

.padding-footer{
    padding-bottom: 80px !important;
}