.btn-seguidores{
    font-size: 14px;
    height: 36px;
    min-height: 36px;
    line-height: 36px;
    font-weight: bold;
    margin-left: auto;
    width: 108px;
}

.btn-seguidores i.icon:before{
    font-size: 25px;
    margin-right: 5px;
    line-height: 36px;
}

.btn-seguidores.button-balanced i.icon:before{
    color:#FFFFFF;
    font-size: 14px !important;
    margin-right: 5px;
    line-height: 36px;
}

.btn-seguidores.button-balanced{
    background-color: #33cc33 !important;
}