.corpo-lista-config i.icon:before{
    color:#ffb800;
    font-size: 28px;
}

.titulo-config{
    color: #3e3c3d;
    font-size: 17px;
}

.border-bottom-config{
    border-bottom: 1.5px solid #EDECEC;
}

.remove-padding-left{
    padding-left: 0;
}

.p-mudar-numero{
    color: #575455;
    font-size: 16px;
    text-align: start;
    margin-bottom: 16px;
}