button.btn-barra-secundaria {
    width: 100%;
    margin: auto;
    height: 100%;
}

.borda-item-selecionado{
    border-bottom: solid;
    border-bottom-color: #FFFFFF;
}

.borda-item-selecionado button {
    color: #fff !important;
}

#containerBarra{
    min-width: 300px !important;
}

/*md-toolbar.corpo-barra-adicional {
    position: fixed;
    top: 80px;
}*/

.btn-barra-rb > span{
    text-transform: uppercase;
}

.config-altura-btn-barra{
    height: 62px !important;
}

.configMdMenuComponente{
    top: 126px !important;
    right: 0px !important;
}

#barraComponente{
    border-radius: 6px;
}

.posiciona-md-menu-componente{
    left: 990px;
    transform-origin: right top 0px;
}

.largura-div-md-menu-componente{
    width: 256px;
}

.corpo-barra-adicional .md-toolbar-tools {
    height: 64px;
    max-height: 64px;
}

.campo-nao-selecionado-secundario {
    font-weight: bold !important;
    font-size: 16px;
    text-transform: uppercase;
}

.config-titulo{
    width: 150px;
    outline: none;
}

.container-barra-personalizada{
    position: relative;
}

.barraAnimada-personalizada{
    background-color: #ffffff;
    position: absolute;
    width: 150px;
    height: 3px;
    top: 60px;
    left: 0px;
}

.movimentaBarraParadireita{
    -webkit-animation-name: animaDireita; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.5s; /* Chrome, Safari, Opera */
    animation-name: animaDireita;
    animation-duration: 0.5s;
    left: 150px;
}

.movimentaBarraParaEsquerda{
    -webkit-animation-name: animaEsquerda; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.5s; /* Chrome, Safari, Opera */
    animation-name: animaEsquerda;
    animation-duration: 0.5s;
    left: 0px;
}
