.barra-local{
    background-color: #FFFFFF;
    padding: 10px;
    box-shadow: 0px 1px 8px #EDECEC;
}

.btn-simetricos{
    width: 130px;
    text-align: start;
}

.font-branca{
    color: #FFFFFF !important;
}

.remove-box-shadow{
    box-shadow: none !important;
}

.barra-local.padding-top-barra{
    padding-top: 70px !important;
}

.p-titulo-local{
    color:#848484;
    font-weight: bold;
}

.span-dourado{
    color: #ffb800;
    margin-left: 5px;
    font-size: 13px;
}

.icone-dourado{
    color: #ffb800;
}

.icone-tamanho-personalizado:before{
    font-size: 31px;
}

.box-hashTag{
    border-radius: 90px;
    background-color: #FFFFFF;
    width: auto;
    margin-right: 11px !important;
    box-shadow: 0px 1px 8px #d0d0d0;
    border: 1px solid transparent;
}

.box-hashTag.selecionado{
    box-shadow: none;
    border: 2px solid rgb(255, 184, 0);
}

.p-titulo-hastag{
    color: #cdcdcd;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    white-space: nowrap;
    padding-right: 10px;
}

.p-titulo-hastag.selecionado{
    color: rgb(255, 184, 0);
}

.box-img-hashtag{
    width: 28px;
    margin-right: 9px;
    height: 28px;
    background-size: cover;
    border-radius: 16px;
}

.borda-dourada-fina{
    border: 1px solid #ffb800 !important;
}

.container-hashs{
    overflow-x: auto !important;
    padding-bottom: 10px;
}

.hr-locais{
    border: 1px solid #EDECEC;
    width: 85%;
}

.padding-mod-hashs{
    padding-top: 20px !important;
}

.padding-hashs{
    padding: 2px !important;
}

.box-fotos{
    position: relative;
    height: 110px;
    width: 68px;
    margin: auto;
}

.moldura-foto{
    width: 65px;
    position: absolute;
    height: 43px;
    box-shadow: 0px 2px 8px #ababab;
    border: 2px solid #FFFFFF;
}

.moldura-foto-redonda{
    width: 40px;
    position: absolute;
    height: 40px;
    border: 2px solid #FFFFFF;
    border-radius: 36px;
}

.moldura-foto.pos1{
    z-index: 5;
    background-size: cover;
}

.moldura-foto.pos2{
    z-index: 4;
    background-size: cover;
}

.moldura-foto.pos3{
    z-index: 3;
    background-size: cover;
}

.moldura-foto-redonda.pos1{
    z-index: 5;
    background-size: cover;
}

.moldura-foto-redonda.pos2{
    z-index: 4;
    background-size: cover;
}

.moldura-foto-redonda.pos3{
    z-index: 3;
    background-size: cover;
}

.p-config-itens{
    color: #737373;
    padding-top: 83px;
    top: 1px;
    font-size: 12px;
    text-align: center;
    display: block;
    position: absolute;
}

.box-perguntas{
    padding-top: 22px;
}

.p-config-itens-pers{
    color: #737373;
    font-size: 12px;
    padding-top: 21px;
    text-align: center;
}

.container-fotos{
    padding-bottom: 10px;
    padding-top: 10px;
}

.moldura-foto.pos1.posicao-1-foto-quadrada{
    top: 20px;
    left: 1px;
}

.moldura-foto.pos1.posicao-2-foto-quadrada{
    top: 22px;
    left: -2px;
}

.moldura-foto.pos1.posicao-3-foto-quadrada{
    top: 27px;
    left: -8px;
}

.moldura-foto.pos2.posicao-2-foto-quadrada{
    left: 8px;
    top: 11px;
}

.moldura-foto.pos2.posicao-3-foto-quadrada{
    left: -1px;
    top: 18px;
}

.moldura-foto.pos3.posicao-3-foto-quadrada{
    left: 6px;
    top: 10px;
}

.moldura-foto-redonda.pos1.posicao-1-foto-quadrada{
    top: 20px;
    left: 12px;
}

.moldura-foto-redonda.pos1.posicao-2-foto-quadrada{
    top: 22px;
    left: -2px;
}

.moldura-foto-redonda.pos1.posicao-3-foto-quadrada{
    top: 27px;
    left: -8px;
}

.moldura-foto-redonda.pos2.posicao-2-foto-quadrada{
    left: 8px;
    top: 11px;
}

.elevado-locais{
    z-index: 21 !important;
}

.tutorial-4-locais{
    position: absolute;
    border-radius: 765px;
    background-color: rgba(0, 0, 0, 0.64);
}

.moldura-foto-redonda.pos2.posicao-3-foto-quadrada{
    left: 10px;
    top: 18px;
}

.moldura-foto-redonda.pos3.posicao-3-foto-quadrada{
    left: 29px;
    top: 10px;
}

.config-btn-mapa-4{
    height: 18px;
    line-height: 33px;
    margin-top: 3px;
    min-height: 36px;
}

.tutorial-mapa-4{
    width: 540px;
    height: 540px;
    left: -261px;
    top: -253px;
    z-index: 20;
}

.posiciona-p-tutorial4{
    position: absolute;
    top: -129px;
    right: 21px;
    z-index: 21;
    white-space: nowrap;
}

.posiciona-p-tutorial4-4{
    position: absolute;
    font-size: 14px;
    top: -97px;
    right: -16px;
    z-index: 21;
    white-space: nowrap;
}

.btn-mapa-tutorial-4{
    color: #666666 !important;
    font-weight: bold;
    right: 153px;
    width: 96px;
    z-index: 21;
    top: -37px;
}

.btn-mapa-tutorial-4 i::before{
    margin-left: 8px;
    font-size: 18px !important;
}

.icone-tutorial-4{
    position: absolute;
    bottom: 113px;
    color: #FFFFFF;
    right: 28px;
    z-index: 21;
    font-size: 36px;
}

.config-btn-mapa-5{
    height: 18px;
    line-height: 33px;
    margin-top: 3px;
    min-height: 36px;
}

.tutorial-mapa-5{
    width: 540px;
    height: 540px;
    left: -168px;
    top: -253px;
    z-index: 27;
}

.posiciona-p-tutorial5{
    position: absolute;
    top: -149px;
    left: 22px;
    text-align: start;
    z-index: 27;
    white-space: nowrap;
}

.posiciona-p-tutorial5-5{
    position: absolute;
    font-size: 14px;
    top: -96px;
    left: 23px;
    z-index: 27;
    text-align: start;
    white-space: nowrap;
}

.btn-mapa-tutorial-5{
    color: #666666 !important;
    font-weight: bold;
    left: 148px;
    width: 96px;
    z-index: 27;
    top: -49px;
}

.z-index-locais{
    z-index: 27;
}

.btn-mapa-tutorial-5 i::before{
    margin-left: 8px;
    font-size: 18px !important;
}

.icone-tutorial-5{
    position: absolute;
    bottom: 66px;
    color: #FFFFFF;
    left: 76px;
    z-index: 27;
    font-size: 36px;
}

.tutorial-5-locais{
    position: absolute;
    border-radius: 765px;
background-color: rgba(0, 0, 0, 0.64);
}

.config-btn-mapa-6{
    height: 18px;
    line-height: 33px;
    margin-top: 3px;
    min-height: 36px;
}

.tutorial-mapa-6{
    width: 540px;
    height: 540px;
    left: -196px;
    top: -300px;
    z-index: 27;
}

.posiciona-p-tutorial6{
    position: absolute;
    top: -149px;
    right: -8px;
    text-align: start;
    z-index: 27;
    white-space: nowrap;
}

.posiciona-p-tutorial6-6{
    position: absolute;
    font-size: 14px;
    top: -104px;
    right: -48px;
    z-index: 27;
    text-align: start;
    white-space: nowrap;
}

.btn-mapa-tutorial-6{
    color: #666666 !important;
    font-weight: bold;
    right: 104px;
    width: 96px;
    z-index: 27;
    top: -52px;
}

.btn-mapa-tutorial-6 i::before{
    margin-left: 8px;
    font-size: 18px !important;
}

.icone-tutorial-6{
    position: absolute;
    bottom: 66px;
    color: #FFFFFF;
    left: 76px;
    z-index: 27;
    font-size: 36px;
}

.tutorial-6-locais{
    position: absolute;
    border-radius: 765px;
    background-color: rgba(0, 0, 0, 0.64);
}
