.background-chekin{
    background-color: #192124;
}

.container-sinais{
    position: relative;
    width: 100%;
}

.onda{
    position: absolute;
    border: 1px solid #FFFFFF;
}

.onda.um{
    width: 150px;
    height: 150px;
    border-radius: 77px;
    top: 38px;
}

.onda.dois{
    width: 250px;
    height: 250px;
    border-radius: 147px;
    top: -12px;
    z-index: 81;
}

.onda.tres{
    width: 350px;
    height: 350px;
    border-radius: 201px;
    top: -62px;
    opacity: 0.7;
}

.onda.quatro{
    width: 450px;
    height: 450px;
    border-radius: 250px;
    top: -112px;
    opacity: 0.5;
    z-index: 80;
}

.onda.cinco{
    width: 550px;
    height: 550px;
    border-radius: 300px;
    top: -162px;
    opacity: 0.3;
}

.onda.seis{
    width: 650px;
    height: 650px;
    border-radius: 350px;
    top: -212px;
    opacity: 0.2;
}

.container-icone-checkin{
    position: relative;
    height: 100%;
}

.alinha-item-bottom{
    bottom: -29px;
    position: absolute;
}

.alinha-item-bottom-ultimo{
    bottom: -42px;
    position: absolute;
}

.alinha-item-bottom-esquerda{
    bottom: -23px;
    position: absolute;
    width: auto;
    left: 62px;
}

.alinha-item-bottom-direita{
    bottom: -23px;
    position: absolute;
    width: auto;
    right: 62px;
}

.icone-redondo-medio{
    border-radius: 55px;
    border: 3px #FFFFFF solid !important;
    width: 65px !important;
    height: 65px;
    position: relative;
    display: block;
}

.nome-icone{
    font-size: 14px;
    max-width: 138px;
    text-align: center;
    margin:auto;
}

.rodape-check-in{
    background-color: #192124 !important;
    background-image: none !important;
    box-shadow: 0px -2px 8px black;
}

.btn-rodape-check-in{
    background-color: #192124 !important;
    border: none !important;
    color: #8a8a8a !important;
    font-size: 12px;
}
