.btn-flutuante-redondo{
    position: fixed;
    bottom: 88px;
    right: 20px;
    background-color: #FFFFFF !important;
}

.btn-flutuante-pesquisar{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #FFFFFF !important;
}
