.btn-padrao{
    height: 48px !important;
    min-height: 20px;
    width: 250px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.btn-padrao.largura-alto{
    width: auto !important;
}

.btn-rodape{
    font-size: 16px !important;
    font-weight: bold !important;
}

.btn-redondo{
    border-radius: 30px;
    border: 6px #FFFFFF solid !important;
    width: 60px !important;
    height: 60px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.31);
    background-color: #cfd8dd !important;   
}

.button:active{
    box-shadow: 0px 0px 4px #585858 !important;
}

.btn-float-right{
    position: absolute;
    width: 49px;
    min-height: 52px;
    height: 52px !important;
    top: -64px;
    right: 32px;
}

.btn-txt-direita{
    font-size: 16px !important;
    font-weight: bold !important;
    text-align: right;
}

.btn-redondo-grande{
    border-radius: 55px;
    border: 6px #FFFFFF solid !important;
    width: 100px !important;
    height: 100px;
    position: relative;
}

.btn-redondo-medio{
    border-radius: 55px;
    border: 4px #FFFFFF solid !important;
    width: 70px !important;
    height: 70px;
    position: relative;
}