.logo-quickPeek{
    background-image: url(../img/01.svg);
    width: 65px;
    height: 65px;
    background-size: contain;
    background-repeat: no-repeat;
}

.logo-nome-quickPeek{
    background-image: url(../img/02.svg);
    width: 171px;
    height: 65px;
    background-size: contain;
    background-repeat: no-repeat;
}

.img-saiba-antes{
    background-image: url(../img/03.svg);
    width: 128px;
    height: 126px;
    background-size: contain;
    background-repeat: no-repeat;
}

.img-faca-pergunta{
    background-image: url(../img/04.svg);
    width: 128px;
    height: 126px;
    background-size: contain;
    background-repeat: no-repeat;
}

.img-publico-anonimo{
    background-image: url(../img/05.svg);
    width: 128px;
    height: 126px;
    background-size: contain;
    background-repeat: no-repeat;
}

.img-compartilhe{
    background-image: url(../img/06.svg);
    width: 128px;
    height: 126px;
    background-size: contain;
    background-repeat: no-repeat;
}

.img-seta-proximo{
    background-image: url(../img/14.svg);
    width: 14px;
    height: 15px;
}

.background-img{
    background-image: url(../img/00.jpg);
    background-size: cover;
}