.logo-quickPeek{
    background-image: url(../img/01.svg);
    width: 65px;
    height: 65px;
    background-size: contain;
    background-repeat: no-repeat;
}

.logo-nome-quickPeek{
    background-image: url(../img/02.svg);
    width: 171px;
    height: 65px;
    background-size: contain;
    background-repeat: no-repeat;
}

.img-saiba-antes{
    background-image: url(../img/03.svg);
    width: 128px;
    height: 126px;
    background-size: contain;
    background-repeat: no-repeat;
}

.img-faca-pergunta{
    background-image: url(../img/04.svg);
    width: 128px;
    height: 126px;
    background-size: contain;
    background-repeat: no-repeat;
}

.img-publico-anonimo{
    background-image: url(../img/05.svg);
    width: 128px;
    height: 126px;
    background-size: contain;
    background-repeat: no-repeat;
}

.img-compartilhe{
    background-image: url(../img/06.svg);
    width: 128px;
    height: 126px;
    background-size: contain;
    background-repeat: no-repeat;
}

.img-seta-proximo{
    background-image: url(../img/14.svg);
    width: 14px;
    height: 15px;
}

.img-seta-funil{
    background-image: url(../img/44.svg);
    width: 21px !important;
    height: 16px !important;
    margin: auto;
    display: block;
    margin-top: 5px;
}

.img-interrogacao-vermelha{
    background-image: url(../img/53.svg);
    width: 41px !important;
    height: 41px !important;
    margin: auto;
}

.img-seta-proximo-sem-traco{
    background-image: url(../img/09.svg);
    width: 12px;
    height: 16px;
    margin: 0 !important;
    background-size: contain;
    margin-left: 10px !important;
}

.img-btn-tirar-foto{
    background-image: url(../img/08.svg);
    width: 54px;
    height: 53px;
    position: absolute;
}

.img-btn-concluir{
    background-image: url(../img/26.svg);
    width: 30px;
    height: 24px;
    background-size: contain;
    position: absolute;
}

.img-seta-voltar{
    background-image: url(../img/88.svg);
    width: 30px;
    height: 24px;
    background-size: contain;
    position: absolute;
}

.img-quick-logo{
    background-image: url(../img/16.svg);
    width: 29px;
    height: 29px !important;
    min-height: 24px;
    margin: auto !important;
    margin-top: 5px !important;
    background-size: contain;
}

.img-inverte-camera{
    background-image: url(../img/07.svg);
    width: 49px;
    height: 52px;
    background-size: cover;
    position: absolute;
    right: -1px;
    top: -1px;
}

.img-anonimo{
    background-image: url(../img/22.svg);
    width: 20px;
    height: 17px;
    background-size: cover;
}

.img-curtir{
    background-image: url(../img/91.svg);
    width: 20px;
    margin-right: 11px;
    height: 17px;
    background-size: cover;
    margin-bottom: 8px;
}

.img-curtir-azul{
    background-image: url(../img/92.svg);
    width: 20px;
    margin-right: 11px;
    height: 17px;
    background-size: cover;
    margin-bottom: 8px;
}

.background-img{
    background-image: url(../img/00.jpg);
    background-size: cover;
}

.btn-txt-direita icon:before{
    font-size: 20px;
}

.icon.btn-seta:before{
    font-size: 16px !important;
}

.img-phone{
    background-image: url(../img/37.svg);
    width: 200px !important;
    height: 131px;
    background-size: contain;
    background-repeat: no-repeat;
}

.img-anonimo-privacidade{
    background-image: url(../img/22.svg);
    width: 27px;
    height: 23px;
    background-size: cover;
}