.centraliza-horizontal{
    display: -webkit-inline-box;
}

.rb-line-heigth{
    line-height: 25px;
}

.bar-footer{
    position:fixed;
    bottom:0;
}

.msg-erro{
    position: absolute;
    bottom: 0;
    font-size: 9px;
    color: #c11818;
}

.box-shadow-padrao{
    box-shadow: 1px 2px 8px #929292;
}

.altura-barra{
    padding-top: 60px !important;
}

.icone-padrao{
    font-size: 37px;
    color: #ffb800;
}

.text-left{
    text-align: start !important;
}

.remove-padding-row{
    padding-top: 0 ;
    padding-bottom: 0 !important;
}

.pane, 
.view {
   overflow-y: auto !important 
}

.box-shadow-padrao-bottom{
    box-shadow: 1px -1px 8px #929292;
}

.background-transparente{
    background-color: transparent!important;
}

.remove-box-shadow{
    box-shadow: none !important;
}

.rb-padding-top-inicial{
    padding-top: 60px !important;
}

.titulo-rodape{
    font-size: 17px;
    color: #FFFFFF;
    margin-right: 10px;
    margin-bottom: 0;
    margin-top: 5px !important;
}

.rb-align-right{
    display: -webkit-inline-box;
    margin: auto;
    margin-right: 10px;
}

.background-cinza{
    background-color: #eeeeee;
}

.circulo{
    width: 9px;
    border-radius: 22px;
    margin: 7px;
    margin-top: 10.4px;
    height: 9px;
    background-color: #aea096;
}

.circulo.ativo{
    background-color: #FFFFFF !important;
    width: 17px;
    height: 17px;
    margin-top: 6px !important;
}

.rb-padding-padrao{
    padding: 10px;
}

.font-17-px{
    font-size: 17px;
}

.negrito{
    font-weight: bold;
}

.padding-titulo-conteudo{
    padding-top: 15px;
}

.remove-padding-bottom{
    padding-bottom: 0 !important;
}

.limita-espaco-texto{
    max-width: 310px;
}

.background-cinza{
    background-color: #eeeeee;
}

.font-amarela{
    color:#ffb800;
    text-decoration: underline;
}

.remove-padding-top{
    padding-top: 0 !important;
}

.color-amarelo{
    color:#ffb800
}
.row{
    margin: 0 !important;
}

.bar-header{
    background-image: none !important;
    height: 60px;
    box-shadow: 0px 2px 8px #B6B6B6;
    padding-top: 15px !important;
}

.margin-auto{
    margin: auto;
}

.tabs{
    height: 75px;
    padding-top: 16px !important;
}

.tabs-top > .tabs, .tabs.tabs-top{
    top:0;
}

.box-shadow-padrao-barra{
    box-shadow: 0px 2px 8px grey;
}

li{
    list-style: initial !important;
    margin-left: 16px;
}

.font-azul-italica{
    color:#6799ff;
    font-size: 16px;
    font-style: italic;
}

.bar-header{
    position: fixed;
}