md-input-container{
    margin: 0;
    width: 100%;
    font-size: 21px;
    color: #393637;
}

md-select.linha-comum:not([disabled]):focus .md-select-value{
    border-bottom-color: #d9d9d9 !important;
    border-bottom-width: 1px;
}

md-content{
    background-color: #FFFFFF;
}