md-switch{
    margin: 0px;
    border-radius: 12px;
    background-color: #c7cbcc;
}

md-switch.md-checked{
    background-color: #7ccf00;
}

md-switch.md-checked .md-bar{
    background-color: #7ccf00 !important;
}

md-switch .md-bar{
    background-color: #c7cbcc;
}

md-switch .md-container{
        margin: 7px;
}

md-switch .md-thumb{
    background-color: #FFFFFF;
}

md-switch.md-checked.md-primary .md-bar {
    background-color: #c7cbcc;
}

md-switch.md-checked.md-primary .md-thumb {
    background-color: #FFFFFF !important;
}

md-switch.switch-verde.md-checked.md-primary .md-bar{
    background-color: #7ccf00;
}

md-switch.switch-verde{
    background-color: #7ccf00;
}