.p-cinza{
    color:#666666;
}

.p-cinza-claro{
    color:#9c9c9c;
}

.font-19-px{
    font-size: 19px;
}

.font-16-px{
    font-size: 16px;
}

p{
    font-size: 18px;
    margin: 0;
    color: #FFFFFF;
}

.p-pequeno{
    font-size: 12px;
    color: #4c494a;
}

.p-medio{
    font-size: 16px;
    color: #3a3738;
}

p.font-preta{
    color: black;
    font-size: 16px;
    position: relative;
    text-align: center;
}