.select-privacidade md-select-value{
    border: none !important;
    color: #ffb800 !important;
}

.container-select{
    border: 1px solid #ffb800;
    padding: 4px !important;
    border-radius: 10px;
    width: 203px;
}

.titular-pergunta-preto{
    color:black;
    margin-top: 11px !important;
    margin-bottom: 5px !important;
}

textarea.sem-borda{
    color: #909090;
    width: 100%;
    font-size: 17px;
    margin: 14px;
}
