.config-input-sms{
    display: block;
    margin: auto;
}

.p-cinza-padrao.pesqueno{
    font-size: 10px;
    text-align: center;
}

.p-dourado-sublinhado{
    color: #ffb800;
    font-size: 16px;
    margin-top: 10px;
    text-decoration: underline;
    margin-bottom: 10px;
    text-align: center;
}


input.placeholder-sms::-webkit-input-placeholder { 
    text-align: center;
}

input.placeholder-sms:-moz-placeholder{
    text-align: center;
}