.espaco-empurra-chat{
    height: 0;
    opacity: 1;
}

.controlaImgTemporaria{
    min-width: 100px;
    max-width: 100%;
    height: 100px;
    filter: blur(3px);
    background-size: cover;
    background-position: center;
}

.esconde-itens-ios{
    display: none !important;
}

.orienta-btns-cam-full-ios{
    bottom: 10px !important;
}

.fundo-preto{
    background-color: black !important;
}

.loader.img-temporaria{
    position: absolute;
    right: 50px;
    top: 41px;
    z-index: 54;
}

.loader.img-temporaria .ball-clip-rotate>div{
    border: 2px solid #ffb800;
    border-bottom-color: transparent;
}

.espaco-empurra-chat.transparente{
    opacity: 0;
}

.espaco-empurra-chat.animar{
    transition-property: all;
    transition-duration: 2s;
    transition: all 2s;
    transform: scale(1);
}

.texto-giphy{
    color: #A7A7A7;
    font-size: 8px;
    padding-top: 8px;  
    text-align: end;
}

.texto-giphy .negrito{
    font-size: 15px;
    color: rgb(150, 150, 150);
    margin-top: 9px !important;
}

.borda-gif{
    background-color: #FFFFFF !important;
    padding-top: 16px !important;
}

.pai-gifs{
    position: fixed;
    bottom: 2px;
    left: 0;
    background-color: #EEEEEE;
}

.container-barra-sub-menu{
    bottom:10px;
}

.btns-cam{
    opacity: 0;
/*    transition-property: all;
    transition-duration: 0.2s;
    transition: all 0.2s;
    transform: scatransle(1);*/
    z-index: 2;
    bottom: 150px;
    position: relative;
    background-color: transparent;
    text-align: center;
    padding: 15px;
}

.btns-cam.aberto{
    opacity: 1;
}

.btns-cam.aberto.isIos{
    position: absolute !important;
    width: 100%;
    bottom: 70px
}

.btns-can-full{
    bottom: 90px;
}

.emoji-menu {
    left: initial !important;
    right: 264px !important;
    top: -273px !important;
    position: fixed !important;
    max-height: 227px;
}

i.emoji-picker-icon{
    right: 6px !important;
    width: 26px !important;
    height: 26px !important;
    font-size: 27px;
    color: #c7c7c7;
    bottom: 2px;
    top: inherit;
}

.efeitoChat{
    opacity: 0;
    transition-property: all;
    transition-duration: 1s;
    transition: all 1s;
    transform: scale(1);
    
}

.efeitoChat.visivel{
    opacity: 1;
}

.emoji-wysiwyg-editor{
    min-height: 30px;
    max-height: 150px;
    height: initial;
    color: #c7c7c7;
    border: none;
}

.div-img-acabou-de-tirar{
    background-repeat: no-repeat;
    height: 100%;
    position: relative;
    background-position: center;
    width: 100%;
}

.balao-direita .ion-android-done{
    position: absolute;
    left: -3px;
    top: 56px;
    color: #a5a5a5;
}

.balao-direita .ion-android-time{
    position: absolute;
    left: -3px;
    top: 56px;
    color: #a5a5a5;
}

.balao-direita .ion-android-done-all{
    position: absolute;
    left: -3px;
    top: 56px;
    color: #a5a5a5;
}

.corpo-esconde-fundo{
    position: absolute;
    background-color: #EEEEEE;
    width: 100%;
    top: 0;
    left: 0;
}

.color-verde{
    color: green !important;
}