.background-preto{
    background-color: black;
}

.box-img{
    border: 5px solid black;
    margin-top: 106px;
    width: 100%;
}

.p-midia{
    font-size: 11px;
    font-weight: bold;
    margin-left: 15px;
    margin-top: 50px;
}

.hr-midias{
    border: 1px solid #6f6f6f;
    width: 93%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.config-btn-midia{
    margin: auto;
    font-weight: bold;
    display: block;
    width: 110px;
}

.texto-azul{
    color:#5890ff !important;
}