.p-sublinhado{
    text-decoration: underline;
    color: #5e6162;
    text-align: center;
    font-size: 12px;
}

.p-normal-publicacoes{
    font-size: 18px;
    margin-top: 20px !important;
    margin-bottom: 13px !important;
    max-width: 272px;
    text-align: center;
    margin: auto;
}

.container-chat-pub{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
}

.container-categorias-pub{
    border-radius: 55px;
    width: 65px !important;
    background-color: #e6e6e6;
    height: 65px;
    background-size: contain;
    position: relative;
    margin: auto;
    display: block;
}

.container-hash-pubs-img{
    border-radius: 55px;
    width: 65px !important;
    background-color: #e6e6e6;
    height: 65px;
    background-size: contain;
    position: relative;
    margin-left: auto;
    display: block;
}

.chat-pub{
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 2px 2px 8px #000000;
}

.btn-chat-pub{
    height: 10px;
    min-height: 28px;
    line-height: 0px;
    font-size: 26px;
    color: #c7c7c7 !important;
}

.btn-painel-pub{
    min-height: 28px;
    line-height: 25px;
    font-size: 20px;
    color: #b7b7b7 !important;
    margin-top: 14px !important;
}

.btn-painel-pub::before{
    font-size: 26px;
    margin-right: 10px;
}

.titulo-chat-pub{
    color: #c7c7c7;
    font-size: 19px;
    line-height: 26px;
}

.margin-top-pub{
    margin-top: 20px !important;
}

.container-painel-hashtags{
    padding: 10px;
}

.painel-hashtags{
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 2px 2px 8px #000000;
}

#chips-iniciais md-chip{
    padding: 0 !important;
}

#chips-iniciais md-chip .fundo-dourado{
    background-color: rgb(255, 184, 0) !important;
}

#chips-iniciais md-chip-template.fundo-dourado{
    box-shadow: none !important;
}

#chips-finais md-chips-wrap{
    padding-bottom: 0px !important;
    max-height: 110px;
    overflow: auto;
}

#chips-finais md-chips.md-default-theme .md-chips, md-chips .md-chips{
    box-shadow: none;
}

.margin-bottom-comum-pub{
    margin-bottom: 10px !important;
}

#chips-iniciais md-chip-template{
    border-radius: 7px !important;
    color: #FFFFFF !important;
    background-color: #b7b7b7 !important;
    font-size: 12px;
    padding: 10px;
    box-shadow: 1px 2px 8px #c7c7c7;
}

#chips-iniciais md-chip > div{
    height: 37px;
}

md-chip{
    border-radius: 7px !important;
    color: #FFFFFF !important;
    background-color: #b7b7b7 !important;
    font-size: 12px;
    margin: 12px 12px 0 0 !important; 
}

md-chip md-icon{
    color: white !important;
}