.btn-flutuante-redondo{
    position: fixed;
    bottom: 148px;
    right: 20px;
    background-color: #FFFFFF !important;
}

.btn-flutuante-pesquisar{
    position: fixed;
    bottom: 80px;
    right: 20px;
    background-color: #FFFFFF !important;
}

.barra-localizacao-atual{
    position: fixed;
    height: 60px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px -2px 8px black;
}

.p-subtitulo{
    font-weight: normal;
    font-size: 10px;
    color:#848484;
}

.config-btn-mapa-1{
    height: 18px;
    line-height: 33px;
    margin-top: 3px;
    min-height: 36px;
}

.container-tutorial{
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 20;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.51);
}

.tutorial{
    position: fixed;
    border-radius: 765px;
    background-color: rgba(0, 0, 0, 0.64);
}

.tutorial-mapa-1{
    width: 600px;
    height: 600px;
    left: -259px;
    top: -308px;
}

.tutorial-mapa-2{
    width: 600px;
    height: 600px;
    bottom: -246px;
}

.posiciona-p-tutorial1{
    position: absolute;
    top: 37px;
    left: 37px;
}

.posiciona-p-tutorial1-1{
    position: absolute;
    font-size: 14px;
    top: 67px;
    left: 37px;
}

.btn-mapa-tutorial-1{
    color: #666666 !important;
    font-weight: bold;
    left: 27px;
    top: 112px;
}

.btn-mapa-tutorial-1 i::before{
    margin-left: 8px;
    font-size: 18px !important;
}

.posiciona-p-tutorial2{
    position: absolute;
    bottom: 210px;
    right: 142px;
}

.posiciona-p-tutorial2-2{
    position: absolute;
    font-size: 14px;
    bottom: 149px;
    right: 99px;
}

.btn-mapa-tutorial-2{
    color: #666666 !important;
    font-weight: bold;
    bottom: 91px;
    position: absolute;
    right: 159px;
}

.btn-mapa-tutorial-2 i::before{
    margin-left: 8px;
    font-size: 18px !important;
}

.z-index-superior{
    z-index: 21 !important;
}

.icone-tutorial-2{
    position: absolute;
    bottom: 158px;
    color: #FFFFFF;
    right: 45px;
    font-size: 36px;
}

.posiciona-p-tutorial3{
    position: absolute;
    bottom: 210px;
    left: 59px;
}

.posiciona-p-tutorial3-3{
    position: absolute;
    font-size: 14px;
    bottom: 149px;
    left: 59px;
}

.btn-mapa-tutorial-3{
    color: #666666 !important;
    font-weight: bold;
    bottom: 91px;
    position: absolute;
    left: 51px;
}

.btn-mapa-tutorial-3 i::before{
    margin-left: 8px;
    font-size: 18px !important;
}

.icone-tutorial-3{
    position: absolute;
    bottom: 80px;
    color: #FFFFFF;
    right: 59px;
    font-size: 36px;
}

.tutorial-mapa-3{
    width: 600px;
    height: 600px;
    bottom: -246px;
    left: -37px;
}