.font-cinza{
    color:#898989;
    font-size: 14px;
}

.font-cinza-pequeno{
    color:#898989;
    font-size: 12px;
    text-align: center;
}

.font-verde-pequeno{
    color: #33cc33;
    font-size: 12px;
    text-align: center
}

.font-dourada-pequena{
    color: #ffb800;
    font-size: 12px;
    text-align: right;
}

.redondo-verde{
    background-color: #33cc33;
    width: 20px;
    height: 20px;
    display: block;
    margin: auto;
    line-height: 21px;
    color: #FFFFFF!important;
    border-radius: 12px;
}

.redondo-dourado{
    background-color: #ffb800;
    white-space: nowrap;
    height: 20px;
    text-align: center;
    font-size: 8px;
    display: block;
    margin: auto;
    line-height: 21px;
    color: #FFFFFF!important;
    border-radius: 12px;
}

.display-table-vertical {
    display: table;
    margin: auto;
    margin-left: 0;
    margin-right: 0;
}

.hr-perg{
    width: 73%;
    position: absolute !important;
    right: 0;
    bottom: -9px;
    border-bottom: none !important;
    border-top: 1px solid #EDECEC !important;
}

.position-relative{
    position: relative;
}