.box-shadow-barra{
    box-shadow: 0px 2px 8px grey !important;
}

.p-cinza-perfil{
    color: #9f9f9f;
    font-size: 13px;
}

p.font-preta-perfil{
    color: black;
    font-size: 16px;
    word-wrap: initial;
    word-break: normal;
    position: relative;
    overflow: hidden;
    white-space: normal;
    text-align: center;
}

.btn-perfil{
    width: 80%;
    display: block;
    margin: auto;
    height: 41px;
    min-height: 30px;
    color: #c5c5c5 !important;
    border: 2px solid #c5c5c5;
}

.btn-perfil-full{
    width: 100%;
    display: block;
    margin: auto;
    height: 41px;
    min-height: 30px;
    color: #c5c5c5 !important;
    border: 2px solid #c5c5c5;
}

.button.button-stable.button-outline.activated {
    background-color: #c5c5c5;
    box-shadow: none;
    color: #fff !important;
}

.config-icons-perfil{
    float: left;
    color: #ffb800;
}

.remove-padding-personalizado-perfil{
    padding-bottom: 0;
    padding-top: 0;
}

.btn-att-avatar{
line-height: 20px;
    background-color: #f9f9f9 !important;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    max-width: 200px;
    margin: auto !important;
    height: auto;
    color: #848484 !important;
}

.btn-perfil-medio{
    border-radius: 55px;
    border: 4px #FFFFFF solid !important;
    width: 50px !important;
    height: 50px;
    position: relative;
}

.btn-redondo-grande-cinza-perfil{
    border-radius: 55px;
    border: 3px #e6e6e6 solid !important;
    width: 65px !important;
    height: 65px;
    position: relative;
}

.remove-padding{
    padding: 0 !important;
}

.box-sessao-local{
    background-color: #ffb800;
    padding: 0;
    padding-bottom: 30px;
}

.p-local-pequeno{
    margin: auto;
    font-size: 10px;
    font-weight: bold;
    margin-top: 5px;
}

.p-local-grande{
    margin: auto;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
}

.btn-perfil-clear{
    border: 1px solid #FFFFFF !important;
    color: #FFFFFF !important;
    min-height: 30px;
    font-size: 12px;
    margin: 0;
    height: 37px;
}

.p-ultimos-locais{
    color: #b3b3b3;
    font-size: 10px;
    font-weight: bold;
}

.padding-pequeno-ultimo{
    padding: 11px;
}

.box-ultimos{
    background-color: #efefef;
}

.titulo-local{
    color: #808080;
    font-size: 16px;
    font-weight: bold;
}

.descricao-local{
    color: #808080;
    font-size: 15px;
}

.box-ultimo-local{
    background-color: #FFFFFF;
    margin-bottom: 12px;
    box-shadow: 0px 2px 8px #bdbdbd !important;
}